%table.table.table-striped
  %caption Shipment Quotes
  %thead
    %tr
      %th Pickup Address
      %th Delivery Address
      %th{:colspan => "2"}
  %tbody
    - @shipment_quotes.each do |shipment_quote|
      %tr
        %td= shipment_quote.pickup_address.address1
        %td= shipment_quote.delivery_address.address1
        %td
          = link_to shipment_quote do
            %i.bi.bi-eye
        %td
          =link_to shipment_quote, method: :delete, data: { confirm: 'Are you sure?' } do
            %i.bi.bi-trash