%nav.navbar.navbar-expand-lg.navbar-light.bg-primary.mb-5
  .container-fluid
    = link_to 'Prescription Tracker App', root_path, class: 'navbar-brand text-white'
    %button.navbar-toggler{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNavAltMarkup", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav
        = link_to 'Calculate Rates', new_shipment_quote_path, class: 'nav-link text-white'
        = link_to 'Saved Shipment Quotes', shipment_quotes_path, class: 'nav-link text-white'
